<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.boombuler.piraten.map"
      android:versionCode="1201"
      android:versionName="1.2.1">
    <uses-sdk android:minSdkVersion="15" 
              android:targetSdkVersion="11"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".PirateMap"
            	  android:theme="@style/MapAppTheme"
        		  android:configChanges="orientation|keyboardHidden" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		
		<activity android:name="PlakatDetailsActivity"
		          android:theme="@style/MapAppTheme" />
		<activity android:name="SettingsActivity" />
    </application>
</manifest>